BumperCarsWithLoadouts/Library/
BumperCarsWithLoadouts/BumperCarsWithLoadouts.sln
BumperCarsWithLoadouts/BumperCarsWithLoadouts.csproj
BumperCarsWithLoadouts/Playtest1_NonRbPhysics_Standalone/
BumperCarsWithLoadouts/Playtest2/
BumperCarsWithLoadouts/Temp/
BumperCarsWithLoadouts/Playtest2.zip
BumperCarsWithLoadouts/BumperCarsWithLoadouts.userprefs
BumperCarsWithLoadouts/.vs/BumperCarsWithLoadouts/v15/Server/sqlite3/storage.ide-wal
BumperCarsWithLoadouts/.vs/BumperCarsWithLoadouts/v15/Server/sqlite3/storage.ide-shm
BumperCarsWithLoadouts/.vs/BumperCarsWithLoadouts/v15/Server/sqlite3/storage.ide
BumperCarsWithLoadouts/.vs/BumperCarsWithLoadouts/v15/Server/sqlite3/db.lock
BumperCarsWithLoadouts/.vs/BumperCarsWithLoadouts/v15/.suo
BumperCarsWithLoadouts/Assets/Scenes/etc.meta
